{% extends 'base.html.twig' %}

{# {% block title %}Accueil - Wiki Audap{% endblock %} #}

{% block body %}

<!-- Page Heading/Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">Accueil</li>
	</ol>
	{% if monthlyArticle is not null %}
		<h2>Article du mois</h2>
		<div class="col-12">
			<div class="card h-100">
				<a href="{{ path('article_show', {'id': monthlyArticle.id}) }}"><img class="card-img-top" src="#" width="50px" alt=" "/></a>
				<div class="card-body pb-5">
					<h4 class="card-title">
						<a href="{{ path('article_show', {'id': monthlyArticle.id}) }}">{{monthlyArticle.title}}</a>
					</h4>
					<p class="card-text pb-3">{{monthlyArticle.description}}</p>
					<a class="btn btn-primary position-absolute" style="bottom: 20px;right: 20px;" href="{{ path('article_show', {'id': monthlyArticle.id}) }}">Lire la suite...</a>
				</div>
			</div>
		</div>
	{% endif %}
	<h2 class="mt-4 mb-3">
		Les derniers articles
	</h2>
	<div class="row">
		{% for article in lastArticles %}
			<div class="col-lg-4 col-sm-6 mb-4">
				<div class="card h-100">
					<a href="{{ path('article_show', {'id': article.id}) }}"><img class="card-img-top" src="{{ vich_uploader_asset(article, 'imageFile') }}" width="50px" alt=" "/></a>
					<div class="card-body pb-5">
						<h4 class="card-title">
							<a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title|capitalize }}</a>
						</h4>
						<p class="card-text pb-3">{{ article.description|slice(0,100) }}</p>
						<a class="btn btn-primary position-absolute" style="bottom: 20px;right: 20px;" href="{{ path('article_show', {'id': article.id}) }}">Lire la suite...</a>
					</div>
				</div>
			</div>
		{% else %}
			<div>
				<h2>Il n'y a pas d'article</td>
			</div>
		{% endfor %}
	</div>
	<div class="mx-auto" style="width: 250px;">
		<a class="btn btn-primary m-3" href="{{path('article_index')}}">Tous les articles</a>
	</div>
{% endblock %}
