{% extends 'base.html.twig' %}

{% block title %}Réinitialiser Mot de Passe {% endblock %}

{% block body %}
<!-- Page Heading/Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Réinitialisation du mot de passe</li>
</ol>
<h1 class="mt-4 mb-3">Demande de réinitialisation du mot de passe
</h1>

{% for flashError in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}


{{ form_start(requestForm) }}
{{ form_row(requestForm.email,{
    label: 'Entrez votre adresse e-mail et nous vous enverrons un
        lien pour réinitialiser votre mot de passe.'
}) }}

<button class="btn btn-primary">Réinitialiser</button>
{{ form_end(requestForm) }}
{% endblock %}
