{% extends 'base.html.twig' %}

{% block title %}Edition du thème
{% endblock %}

{% block body %}

	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('home') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('category_index')}}">Thèmes</a>
		</li>
		<li class="breadcrumb-item active">Edition</li>
	</ol>
	<h1>Edition du thème</h1>

	{# Admin only #}
	{% if is_granted('ROLE_ADMIN') %}

		{{ include('category/_form.html.twig', {'button_label': 'sauver'}) }}

	<div class="pb-4 pt-4">
    <a href="{{ path('category_index') }}"><i class="fas fa-arrow-circle-left mr-2"></i>Retour</a>
    </div>

		{# {{ include('category/_delete_form.html.twig') }} #}

	{% else %}
		<a>Permission refusée, merci de contacter l'administrateur</a>
	{% endif %}

{% endblock %}
