{% extends 'base.html.twig' %}

{% block title %}Catégories/tags{% endblock %}

{% block body %}
<div class="container">
<div class="row" >
  <div class="col-md-6">
    <div class = "card" style="margin-top:100px;">
       <div class="card-body">
        <h5 class="card-title" style="text-align:center" >La gestion des catégories</h5>
        <a href="{{ path('category_new') }}" class="btn btn-primary">Ajouter une catégorie</a>
        <ul class="list-group list-group-flush">
         {% for category in categories %}
        <li class="list-group-item d-flex justify-content-between align-items-center">{{ category.name }}
        <span><a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
        <a style="margin-left:10px;" href="{{ path('category_delete', {'id': category.id}) }}">delete</a></span>
        </li>
      </ul>
       {% else %}
            <tr>
                <td colspan="3">no category found</td>
            </tr>
        {% endfor %}
        </div>
    </div>
 </div>

  <div class="col-md-6">
    <div class="card" style="margin-top:100px;">
      <div class="card-body">
        <h5 class="card-title"style="text-align:center">La gestion des tags</h5>
         <a href="{{ path('tag_new') }}" class="btn btn-primary">Ajouter un tag</a>
          <ul class="list-group list-group-flush">
         {% for tag in tags %}
        <li class="list-group-item d-flex justify-content-between align-items-center">{{ tag.name }}
         <span><a href="{{ path('tag_edit', {'id': tag.id}) }}">edit</a>
        <a style="margin-left:10px;" href="{{ path('tag_delete', {'id': tag.id}) }}">delete</a></span>
      </li>
      </ul>
       {% else %}
            <tr>
                <td colspan="3">no tags found</td>
            </tr>
        {% endfor %}

       </div>
       </div>
        </div>
</div>
</div>                           
  
{% endblock %}
