{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<h1>Category Admin</h1>

<table class="table">
    <tbody>

        <tr>
            <th>Name : {{ category.name }}</td>
        </tr>
    </tbody>
</table>

<!-- liste des articles de la catégorie -->
<a>Articles : 
    {% for article in category.articles %}
    <li>{{article.id}} - {{article.title}}</li>
    {% else %}
    <li>Aucun article pour cette catégorie</li>
    {% endfor %}
</a>

<a href="{{ path('admin_category_index') }}">back to list</a>

<a href="{{ path('admin_category_edit', {'id': category.id}) }}">edit category</a>

{{ include('category/_delete_form.html.twig') }}
{% endblock %}