<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
	<div class="sb-sidenav-menu">
		<div class="nav">
			<div class="sb-sidenav-menu-heading">Général</div>
			<a class="nav-link" href="{{path('home')}}">
				Accueil
			</a>
			<a class="nav-link" href="{{path('category_index')}}">
				Thèmes
			</a>
			<a class="nav-link" href="{{path('tag_index')}}">
				Mots clés
			</a>
			<a class="nav-link collapsed" href="#collapseArticles" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseArticles">
				<div>
					<i class="fas fa-file-alt"></i>Articles</div>
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseArticles">
				<div class="article-children">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="{{path('article_index')}}">Tous les articles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Derniers articles ajoutés</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('article_new')}}">Créer un article</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Articles en attente de validation</a>
						</li>
					</ul>
				</div>
			</div>
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="collapsePages">
				<div>
					<i class="fas fa-users"></i>
					Utilisateurs</div>
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseUsers">
				<div class="article-children">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="{{path('user_index')}}">Tous les utilisateurs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Utilisateurs en attente de validation</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="sb-sidenav-menu-heading">
				<a class="nav-link" href="{{path('contact')}}">Contact</a>
			</div>
			<div class="sb-sidenav-menu-heading">Qui sommes nous?</div>
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapsePages">
				<div>
					<i class="fas fa-question-circle"></i>
					Aide</div>
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseHelp">
				<div class="article-children">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="#">Le design à l'Audap : késako?</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="#">Fonctionnement et ligne de conduite</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="#">Premiers pas sur l’outil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="#">Comment contribuer ?</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="sb-sidenav-menu-heading">Ressources</div>
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAbout" aria-expanded="false" aria-controls="collapsePages">
				<div>
					<i class="fas fa-globe-africa"></i>
					L'univers web de l'Audap</div>
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseAbout">
				<div class="article-children">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="https://www.audap.org/">Le site de l'Audap</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="#">Site obs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="#">Notre site presse</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="#">Le site Netvibes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" target="_blank" href="#">Le site photothèque</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
