<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			
		<a href="{{ path('home') }}">Accueil</a>
		<a href="{{ path('article_index') }}">Articles</a>
		<a href="{{ path('admin_dashboard') }}">Dashboard (admin)</a>
		<a href="{{ path('admin_category_index') }}"> Catégories (admin)</a>
		<a href="{{ path('user_index') }}"> Users</a>
		<a href="{{ path('version_index') }}"> Versions</a>
		<a href="{{ path('admin_tag_index') }}"> Tags (admin)</a>
				{% if app.user %}
					Hello,
					{{ app.user.firstname }}
					{{app.user.lastname}}
					!
					<a href="{{ path('article_new') }}">Contribuer</a>
					<a href="{{ path('app_logout') }}">
						Se déconnecter</a>

				{% else %}
					<a href="{{ path('app_login') }}">
						Se connecter</a>
					<a href="{{ path('app_register') }}">
						S'enregistrer</a>
				{% endif %}
		
		{% endblock %}

		{% block body %}{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
