{% extends 'base.html.twig' %}


{% block title %}Tag{% endblock %}

{% block body %}
    <h1>Tag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name : {{ tag.name }}</td>
            </tr>
        </tbody>
    </table>

<!-- liste des articles du Tag -->
<a>Articles : 
    {% for article in tag.articles %}
    <li>{{article.id}} - {{article.title}}</li>
    {% else %}
    <li>Aucun article pour ce tag</li>
    {% endfor %}
</a>
    <a href="{{ path('admin_tag_index') }}">back to list</a>

    <a href="{{ path('admin_tag_edit', {'id': tag.id}) }}">edit</a>

    {{ include('admin_tag/_delete_form.html.twig') }}
{% endblock %}
