{% extends 'base.html.twig' %}

{% block title %}Éditer l'article
{% endblock %}

{% block body %}

<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="{{ path('home') }}">Accueil</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{ path('article_index')}}">Articles</a>
	</li>
	<li class="breadcrumb-item active">Edition</li>
</ol>

<h1>Édition de l'article :</h1>

{{ include('article/_form.html.twig', {'button_label': 'sauver'}) }}

{{ include('article/_delete_form.html.twig') }}
<a href="{{ path('article_index') }}">retour</a>
{% endblock %}