{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}

	<!-- Page Heading/Breadcrumbs-->
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item">
			<a href="{{ path('home') }}">Accueil</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('article_index') }}">Articles</a>
		</li>
		<li class="breadcrumb-item active">{{article.title}}</li>
	</ol>
	<!-- Article Content-->
	<div class="row">
		{% if article.image %}
			<div class="col-md-6"><img class="img-fluid" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{article.image}}"/></div>
			<div class="col-md-6">
		{% else %}
			<div class="col-md-12">
		{% endif %}
					{% if version.isValidated %}
					<span class="badge badge-success">Article validé</span>
					{% else %}
					<span class="badge badge-warning">Article en cours de validation</span>
					{% endif %}
				<div class="d-flex mt-2">
					<h3>{{article.title}}</h3>
				</div>

				<div>
				<small class="text-muted">{{version.modificationDate|date('d-m-Y') }}
					-
					{{article.getCreator.firstname}}
					{{article.getCreator.lastname}}</small>
				</div>
				{% for category in article.categories %}
					<a href="{{ path('category_show', {'category': category.id}) }}" class="badge badge-info">{{category.name}}</a>
				{% endfor %}
				{% for tag in article.tags %}
					<a href="{{ path('tag_show', {'tag': tag.id}) }}" class="badge badge-dark">{{tag.name}}</a>
				{% endfor %}

				<p class="pt-2">{{ article.description }}</p>
				<div>
					<ul class="list-unstyled">
						<u>Dernières versions</u>:
						{% for lastVersion in lastVersions %}
							<li>-
								<a href="{{ path('article_show', {'id': article.id, 'version_id': lastVersion.id}) }}">
									{{lastVersion.modificationDate|date('d-m-Y - H:i')}}
								</a>
								{% if article.currentVersion == lastVersion.id %}
									<span class="small">(Version actuelle publiée).</span>
								{% endif %}
							</li>

						{% endfor %}
					</ul>
					<a href="{{ path('article_versions', {'id': article.id}) }}" class="btn btn-outline-primary btn-sm">Toutes les versions</a>
					{% if article.currentVersion != version.id %}
						<a href="{{ path('version_publish', {'id': version.id}) }}" class="btn btn-primary">Publier cette version</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="mt-5">{{version.content|raw}}</div>
		{% if app.user %}
			<a class="btn btn-outline-warning" href="{{ path('article_edit', {'id': article.id}) }}">Modifier l'article</a>
		{% endif %}
	</div>

{% endblock %}
